@font-face{ 
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot.eot') format('eot'), 
    url('../fonts/Montserrat-Bold.svg') format('svg'), 
    url('../fonts/Montserrat-Bold.ttf') format('ttf'), 
    url('../fonts/Montserrat-Bold.woff') format('woff'), 
    url('../fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face{ 
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot.eot') format('eot'), 
    url('../fonts/Montserrat-Light.svg') format('svg'), 
    url('../fonts/Montserrat-Light.ttf') format('ttf'), 
    url('../fonts/Montserrat-Light.woff') format('woff'), 
    url('../fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face{ 
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot.eot') format('eot'), 
    url('../fonts/Montserrat-Regular.svg') format('svg'), 
    url('../fonts/Montserrat-Regular.ttf') format('ttf'), 
    url('../fonts/Montserrat-Regular.woff') format('woff'), 
    url('../fonts/Montserrat-Regular.woff2') format('woff2');
}