/* .pageWrapper{
    background-color: #323232;
} */
.total-stats{
    background-color: #2B4162;
    font-family: 'Montserrat-Light';
}
.total-stats h4{
    font-family: 'Montserrat-Regular';
}
.total-stats .lastUpdate{
    color: black;
    font-size: 15px;
    font-family: 'Montserrat-Light';
}
.total-stats .lastUpdate span{
    color: #6c757d;
    font-family: 'Montserrat-Regular';
}
.total-stats .g-stat-cont{
    border-radius: 4px;
}
.total-stats .g-stat-cont h4{
    color: #ff073a;
}
.total-stats .g-stat-cont #dCases{
    color: #6c757d;
}
.total-stats .g-stat-cont #rCases{
    color: rgba(40,167,69,.8);
}
.total-stats .first{
    background-color: #E1CDB5; 
}
.total-stats .second{
    background-color: #CDDFA0;
}

.single-state-cont{
    background-color: #385F71;
}
.single-state-cont .source-text{
    border-bottom: 2px solid #6c757d;
} 
.single-state-cont .source-text .data-information{
    font-size: 12px;
    color: #F5F0F6;
    font-family: 'Montserrat-Light';
    text-align: right;
}
.single-state-cont .details .field{
    background-color: #ECEDEE;    
    border-radius: 5px;
}
.single-state-cont .details h3{
    font-family: 'Montserrat-Bold';
    font-size: 15px;
}
.single-state-list .single-state{
    background-color: #1eb2a6;
    height: 50px;
    border-radius: 5px;
    transition: 0.5s all;
}
.single-state-list .single-state:hover{
    cursor: pointer;
    background-color: #24d1c3;
}
.single-state-list h3{
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    color: black;
}
.additonal-information{
    background-color: #D4EBD0;
    padding: 20px 0;
}
.additonal-information p{
    font-family: 'Montserrat-Bold';
}
.additonal-information a{
    text-decoration: none;
}
.additonal-information a:hover .github{
 background-color: white;
 color: black;
}
.additonal-information a .github{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    font-family: 'Montserrat-Regular';
}
.main-footer{
    padding: 10px 0;
    background-color: #BAE5E5;
}
.main-footer p{
    font-size: 12px;
}
.main-footer p span a{
    color: #6c757d;
    text-decoration: none;
}
.main-footer ul li a{
    font-size: 18px;
    color: #6c757d;
}
.main-footer ul li a:hover{
    color: black;
    background-color: transparent;
}
/* Responsive media queries start here */
@media (max-width: 991px){
    .total-stats .g-stat-cont{
        font-size: 11px;
    }
    .total-stats .g-stat-cont h4{
        font-size: 20px;
    }
    .single-state-cont .details h3{
        font-size: 13px;
    }
    .single-state-list h3{
        font-size: 11px;
    }
}
@media (max-width: 767px){
    .total-stats .g-stat-cont{
        margin-bottom: 10px;
    }
    .container{
        max-width: 100%;
    }
    .single-state-cont .source-text .data-information{
        font-size: 9px;
    }
}
@media (max-width: 575px){
    .single-state-cont .details h3{
        font-size: 10px;
    }
    .single-state-list h3{
        font-size: 8px;
    }
    .details .col-2{
        max-width: 20% !important;
    }
    .additonal-information h5{
        font-size: 15px;
    }
}